mixin benefits2(data)
    .dm-benefits2
        .dm-title.dm-title--benefits2 Преимущества отдыха в Турции
        .dm-benefits2__items
            .dm-benefits2__row.dm-benefits2__row--1
                .dm-benefits2__item
                    .dm-benefits2__title #[img.dm-benefits2__title-img(src="./img/content/coral/benefits-1.png" alt="Преимущества 1")] Отличное соотношение #[br] цены и качества
                    .dm-benefits2__text
                        p Почти все отели Турции работают по системе «все включено». Это значит, что вы оплачиваете тур один раз и получаете доступ ко всем преимуществам отеля: система «все включено», дискотека, анимация, бассейны с водными горками и многое другое.

                .dm-benefits2__item
                    .dm-benefits2__title #[img.dm-benefits2__title-img(src="./img/content/coral/benefits-2.png" alt="Преимущества 2")] Разнообразие отелей #[br] по&nbsp;отличным ценам
                    .dm-benefits2__text
                        p Турецкие отели отличаются высоким уровнем сервиса и&nbsp;комфортными условиями для проживания: чистые и&nbsp;ухоженные пляжи, внимательные и&nbsp;ответственные аниматоры, приветливый и&nbsp;добрый персонал.
                    .dm-benefits2__btn-wrap
                        if data.days
                            a.dm-benefits2__btn(href=data.link target="_blank" data-days=data.days) Забронировать тур
                        else
                            a.dm-benefits2__btn(href=data.link target="_blank") Забронировать тур

            .dm-benefits2__row-wrap
                .dm-benefits2__row.dm-benefits2__row--2
                    .dm-benefits2__item
                        .dm-benefits2__title #[img.dm-benefits2__title-img(src="./img/content/coral/benefits-3.png" alt="Преимущества 3")] Широкий выбор #[br] экскурсий
                        .dm-benefits2__text
                            p Турция&nbsp;&mdash; это страна с&nbsp;богатым культурным наследием. Посещение достопримечательностей, музеев и&nbsp;природных памятников оставят приятные воспоминания и&nbsp;яркие впечатления от&nbsp;путешествия.

                    .dm-benefits2__item
                        .dm-benefits2__title #[img.dm-benefits2__title-img(src="./img/content/coral/benefits-4.png" alt="Преимущества 4")] Безвизовый #[br] режим
                        .dm-benefits2__text
                            p Если вы&nbsp;планируете отдохнуть на&nbsp;территории Турции не&nbsp;более 30&nbsp;дней, то&nbsp;визу оформлять не&nbsp;нужно. Поэтому отпуск на&nbsp;турецких курортах можно планировать в&nbsp;любое время года.

                .dm-benefits2__row.dm-benefits2__row--3
                    .dm-benefits2__item
                        .dm-benefits2__title #[img.dm-benefits2__title-img(src="./img/content/coral/benefits-5.png" alt="Преимущества 5")] Особенное внимание #[br]к детям
                        .dm-benefits2__text
                            p На&nbsp;турецких курортах прекрасно отдохнут и&nbsp;родители и&nbsp;дети. На&nbsp;территории большинства отелей работают аниматоры, воспитатели и&nbsp;няни.
                            p Для детей организовываются веселые конкурсы, развивающие игры, уроки плавания и&nbsp;занятия по&nbsp;изучению иностранных языков. Пока малыши веселятся и&nbsp;обучаются, родители могут спокойно отдохнуть на&nbsp;пляже или отправиться на&nbsp;экскурсию.
                        .dm-benefits2__btn-wrap
                            if data.days
                                a.dm-benefits2__btn(href=data.link target="_blank" data-days=data.days) Забронировать тур
                            else
                                a.dm-benefits2__btn(href=data.link target="_blank") Забронировать тур